.experiencia-profissional{
    margin-top: 25px;
    color: #464646;
}

.experiencia-profissional h2{
    font-size: 32px;
    font-weight: bold; 
    text-align: center;
    padding-top: 30px;
    margin: 30px;
}

