@media screen and (min-width: 0){
    .contato{
        display: flex;
        font-size: 20px;
    }

    .imagem-contato{
        display: none;
    }   
    
    .contato-imagem img{
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 10px;
        width: 400px;
    }
    
    .contato-formulario{
        margin-top: 50px;
        margin-left: 20px;
    }
    
    .contato-formulario h2{
        font-size: 32px;
        font-weight: bold; 
    }
    
    .msg-contato{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .contato-formulario input{
        width: 320px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
    }
    .contato-formulario input:focus{
        box-shadow: none;
        border-style: none;
        outline: 0;
        border-bottom: #2A7AE4 solid 2px;
    }
    
    
    .contato-formulario textarea{
        width: 320px;
        height: 140px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
        border-style: none;
        resize: none;
    }
    
    .contato-formulario textarea{
        border-style: none;
        resize: none;
        outline: 0;
    }
    
    .contato-formulario button{
        background-color: #2A7AE4;
        color: #EDEDED;
        padding: 5px;
        border: none;
        font-weight: bolder;
    }
    
    .contato-formulario button:hover{
        background-color: #464646;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 768px){

    .contato{
        display: flex;
        font-size: 20px;
    }

    .imagem-contato{
        display: none;
    }
    
    .contato-imagem img{
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 10px;
        width: 400px;
    }
    
    .contato-formulario{
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .contato-formulario h2{
        font-size: 32px;
        font-weight: bold; 
    }
    
    .msg-contato{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .contato-formulario input{
        width: 650px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
    }
    .contato-formulario input:focus{
        box-shadow: none;
        border-style: none;
        outline: 0;
        border-bottom: #2A7AE4 solid 2px;
    }
    
    
    .contato-formulario textarea{
        width: 650px;
        height: 140px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
        border-style: none;
        resize: none;
    }
    
    .contato-formulario textarea{
        border-style: none;
        resize: none;
        outline: 0;
    }
    
    .contato-formulario button{
        background-color: #2A7AE4;
        color: #EDEDED;
        padding: 5px;
        border: none;
        font-weight: bolder;
    }
    
    .contato-formulario button:hover{
        background-color: #464646;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 992px){

    .contato{
        display: flex;
        font-size: 20px;
    }

    .imagem-contato{
        display: block;
    }
    
    .contato-imagem img{
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 10px;
        width: 400px;
    }
    
    .contato-formulario{
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .contato-formulario h2{
        font-size: 32px;
        font-weight: bold; 
    }
    
    .msg-contato{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .contato-formulario input{
        width: 470px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
    }
    .contato-formulario input:focus{
        box-shadow: none;
        border-style: none;
        outline: 0;
        border-bottom: #2A7AE4 solid 2px;
    }
    
    
    .contato-formulario textarea{
        width: 470px;
        height: 140px;
        font-size: 20px;
        color: #464646;
        margin-bottom: 10px;
        border: none;
        border-style: none;
        resize: none;
    }
    
    .contato-formulario textarea{
        border-style: none;
        resize: none;
        outline: 0;
    }
    
    .contato-formulario button{
        background-color: #2A7AE4;
        color: #EDEDED;
        padding: 5px;
        border: none;
        font-weight: bolder;
    }
    
    .contato-formulario button:hover{
        background-color: #464646;
        color: #FFFFFF;
    }
}
